@import "../utils/parameters";
@import "../utils/mixins";

.acne {
    padding-top: 11.7rem;

    .container {
        position: relative;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        &--reverse {
            margin-top: 13.5rem;
            flex-direction: row-reverse;
            margin-bottom: 10.7rem;
        }
    }

    &__info {
        max-width: 47rem;
        margin-top: 0;
        margin-left: 23.3rem;
        
        &--reverse {
            padding-top: 1rem;
            margin-left: 6.4rem;
            
        }
    }

    &__img {
        padding-left: 6.3rem;

        &--reverse {
            margin-right: 4.5rem;
        }
    }
    
    &__theme {
        font-size: 1.6rem;
        line-height: 125%;
        color: $c-secondary;
        margin-top: 10.7rem;
        padding-bottom: 1.5rem;

        &--support {
            margin-top: 4.5rem;
        }
    }

    &__title {
        font-size: 4rem;
        line-height: 117%;
        padding-bottom: 4rem;

        &--reverse {
            max-width: 35rem;
        }

        &--support {
            max-width: 43rem;
        }
    }

    &__text1 {
        font-size: 1.8rem;
        line-height: 178%;
        padding-bottom: 3.3rem;
        
        
        
    }

    &__text2 {
        max-width: 44rem;
        font-size: 1.8rem;
        line-height: 178%;

        &--reverse {
            min-width: 49rem;
        }
    }

}

.research {
    margin-top: 0.6rem;

    &__row {
        align-items: center;
        margin-top: 3rem;
    }

    &__img {
        display: inline-block;
    }

    &__text {
        display: inline-block;
        font-size: 2rem;
        line-height: 160%;
        padding-bottom: 0.8rem;
        padding-left: 2.4rem;
    }

}

.discovering {
    &__row {
        align-items: center;
        margin-top: 4.8rem;
    }

    &__img {
        display: inline-block;
    }

    &__text {
        display: inline-block;
        font-size: 2rem;
        line-height: 160%;
        padding-bottom: 0.8rem;
        padding-left: 2.4rem;
    }

}

@media screen and (max-width: $md) {
    .acne {
        padding-top: 2rem;

        &__info {
            margin-left: 1rem;
        }

        &__title {
            font-size: 3rem;
        }

        &__text1, &__text2 {
            font-size: 1.6rem;
        }
    }

    .h-acid {
        &__row {
            margin-top: 1rem;
        }

        &__img {
            margin-left: 1rem;
        }

        &__title {
            font-size: 3rem;
        }

        &__text1, &__text2 {
            font-size: 1.6rem;
        }
    }

    .notes {

        &__row {
            margin-top: 1rem;
        }

        &__info {
            margin-left: 1rem;
        }

        &__title {
            font-size: 3rem;
        }

        &__text1, &__text2 {
            font-size: 1.6rem;
        }
    }

}

@media screen and (max-width: $sm) {
    .acne {
        &__info {
            max-width: 30rem;    
        }

        &__title {
            font-size: 2.5rem;
        }

        &__text1, &__text2 {
            font-size: 1.5rem;
        }
    }

    .h-acid {
        &__img {
            margin-left: 1rem;
        }

        &__info {
            max-width: 30rem;    
        }

        &__title {
            font-size: 2.5rem;
        }

        &__text1, &__text2 {
            font-size: 1.5rem;
        }
    }

    .notes {
        &__info {
            max-width: 30rem;    
        }

        &__title {
            font-size: 2.5rem;
        }

        &__text1, &__text2 {
            font-size: 1.5rem;
        }
    }

    .research__text, .discovering__text {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: $xs) {
    .acne {
        &__img {
            max-width: 25rem;
            padding-left: 0;
        }

        &__img-acne {
            width: 100%;
            padding-left: 0;
        }

        &__info {
            max-width: 27rem;
        }

        &__title {
            font-size: 1.8rem;
            padding-bottom: 1rem;
        }

        &__text1, &__text2 {
            font-size: 1.2rem;
            padding-bottom: 1rem;
        }
    }
    
    .h-acid {
        &__img {
            max-width: 25rem;
            padding-left: 0;
        }

        &__img-acne {
            width: 100%;
            padding-left: 0;
        }

        &__info {
            max-width: 27rem;
            margin-left: 1rem;
        }

        &__title {
            font-size: 1.8rem;
            padding-bottom: 1rem;
        }

        &__text1, &__text2 {
            font-size: 1.2rem;
            padding-bottom: 1rem;
        }
    }

    .notes {
        &__img {
            max-width: 25rem;
            padding-left: 0;
        }

        &__img-notes {
            width: 100%;
            padding-left: 0;
        }

        &__info {
            max-width: 27rem;
        }

        &__title {
            font-size: 1.8rem;
            padding-bottom: 1rem;
        }

        &__text1, &__text2 {
            font-size: 1.2rem;
            padding-bottom: 1rem;
        }
    }
    
    .research__text, .discovering__text {
        font-size: 1.4rem;
        
    }

    .research__row, .discovering__row {
        margin-top: 1rem;
    }
}