.footer {

    margin-top: 24.5rem;
    margin-bottom: 1.5rem;

    .container {
        position: relative;
    }

    &__flex {
        display: flex;
        align-items: center;
    }

    &__text {
        font-size: 1.2rem;
        line-height: 120%;
        color: rgba(7, 19, 48, 0.5);
    }

    &__contactinfo {
        font-size: 1.5rem;
        line-height: 120%;
        color: rgba(7, 19, 48, 0.5);
        margin-left: 4rem;
    }

    &__contact {
        margin-left: 52rem;
    }
}

@media screen and (max-width: $md) {

    .footer {
        margin-top: 5rem;

        &__contact {
            margin-left: auto;
        }
    }
  
}

@media screen and (max-width: $xs) {
    .footer {
        margin-top: 3rem;

        &__contactinfo {
            margin-left: 1rem;
            padding: 0.4rem;
        }
    }
}