.treatment {
    padding-top: 37.2rem;

    .container {
        position: relative;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__info {
        padding-right: 22.4rem;
    }
}

h3 {
    font-size: 4rem;
    line-height: 117%;
    text-align: center;
    max-width: 70rem;
    margin: auto;
    font-weight: normal;
    padding-bottom: 6.8rem;
}

.item {
    &__number {
        font-size: 20px;
        line-height: 160%;
        color: #fff;
        max-width: 5.6rem;
        min-height: 5.6rem;
        border-radius: 100%;
        text-align: center;
        background-color: $c-secondary;
        padding-top: 1.3rem;
    }   
    
    &__title {
        font-size: 2rem;
        line-height: 160%;
        padding-bottom: 2.3rem;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 178%;
        color: rgba(7, 19, 48, 0.6);
        max-width: 54rem;
    }

    &__number {
        margin-left: 0.1rem;
        margin-bottom: 2.3rem;
    }
}



