section.first-section
    div.container
        div.first-section__row
            div.healthy-skin
                h1.healthy-skin__answers
                p
            img(src="./assets/imgs/girl.png", alt="nicegirl")