header.header 
    div.container
        div.header__row
            a(href="#").logo
                img(src="./assets/imgs/logo.svg", alt="Logo").logo__img
                a(href="#").link-header.link-header--left For Patients
                a(href="#").link-header For Doctors
            div.header__links
                a(href="#").link-header.link-header--right Request Invite  
        